
.navtop{
    text-align: left;
    margin-top: 0px;
    padding-top: 0px;
    text-align: center;
    padding-bottom: 30px;
}
.navtop a:hover{
    background-color: lightblue;
}

#formContainer{
    display: flex;
    padding: 20px;
    justify-content: center;
    margin: 5px;
}
#blueBorder{
    border: 2px solid lightblue;
    align-items: center;
    text-align: center;
}
#formHeader {
    text-align: center;
    color: black;
    width: auto;
    text-decoration: underline;
}
#feedbackForm{
    text-align: left;
    padding: 20px;
    margin-bottom: 10px;
}
button{
    background-color: green;
    width: 200px;
    padding: 10px;
    margin-bottom: 20px;
}
input, textarea{
    width: 97%;
    padding: 10px;
    margin-bottom: 10px;
}